
.hero-section {
    background-image: linear-gradient(0deg,#1156B6 33%,#00062D 100%);
}

.image1 {
    position: absolute;
    left: 0;
    z-index: 2;
}
.image2 {
    position: absolute;
    left: 30%;
    z-index: 3;
}
.image3 {
    position: absolute;
    right:0;
    z-index: 0;

}


.p-images {
    position: relative;
    transition: .4s;
    cursor: pointer;
}
.p-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    display: none;
    transition: .4s;
}
.p-images:hover .p-link {
    display: block;
    transition: .4s;
    color: white;
    z-index: 2;

}

.p-images:hover.p-images::after {
    opacity: 0.3;
}

.p-images::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: .2s;
}

.first-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content {
    margin-bottom: 2rem;
}
.elementor-section {
    background-image: url(./img/pinky.svg);
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-section2 {
    background-image: url(./img/bg-blue.svg);
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}

.elementor-btn button{
    border: 1px solid transparent;
    background-color: #fce4ec;
    padding: 1rem 3rem;
    color: #d71b60;
    cursor: pointer;
    font-weight: 500;
    transition: .3s;
}
.elementor-btn2 button {
    color: #7E57C2;
    background-color: #ede7f6;
}
.elementor-btn3 button {
    color: #03a9f4;
    background-color: #ede7f6;
}
.elementor-btn3 button:hover {
    background-color: #03a9f4 !important;
    color: white;
}
.header-main {
    padding-top: 10rem;
}


.elementor-btn2 button:hover{
    background-color: #7E57C2 !important;
    color: white;

}

.inside-btn {
    transform: rotate(45deg);
}
.elementor-btn button:hover {
    background: #f8bbd0a1;
}
.full-sec {
    width: 100%;
    background-image: url(./img/full-img.webp);
    /* height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list {
    list-style-type:disc;
    color: red;
}
.list {
    list-style: none;
  }
  .list li {
    padding: 4px 0;
  }
  
  .list li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  #tabs li.bg-white {
    background-color: transparent;
    border: none;
  }
  #tabs li a {
    transition: .3s;
  }

  #tabs li a:hover {
    color:#03a9f4;  
  }
  
  .landing {
    background-image: url(./img/landing-woo-04-11-2-2048x918.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .desktop {
    background-image: url(./img/laptop.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
   .head-btn2 button:hover {
    border: 2px solid white;

  }

  .head-btn2 button{
    border: 2px solid transparent;
  }
  .head-btn2 button:hover {
    border: 2px solid white;
    background-color: #03a9f4;

  }
  
  html {
    scroll-behavior: smooth;
  }

.featuress {
    width: fit-content !important;
 }

  /* sticky header */
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.6s;
    padding: 16px 40px;
    z-index: 1000;

}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li {
    position: relative;
    list-style: none;
    color: white;

}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white !important;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image:url(./watch.jfif) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header.sticky {
    /* padding: 20px 100px; */
    background-color: #fff;
    position: fixed;
    
}

header.sticky ul li {
    color: black !important;
}
header.sticky ul li:hover {
    color: #03a9f4 !important;
}
header.sticky .toggle-btn {
    color: black !important;
}
.project {
    padding: 1rem !important;
}
.sec {
    padding: 1rem;
}


/* toggle-btn */
.toggle-btn {
    color: white;
    font-size: 30px;
    display: none;
}


/* end */



/* responsive */ 
   @media only screen and (max-width:1138px){
    .header-list ul li {
        padding: 10px;
        font-size: 16px;
    }
    .hero-text{
        font-size: 40px !important;
        padding: 1rem;
    }
    .p-images {
        width: 100% !important;
    }
    .content {
        width: 48% !important;
    }
 
   }

   @media only screen and (max-width:950px) {
    .image2 {
        height: 200px !important;
        width: 350px !important;
    }
    .image1 {
        height: 170px !important;
        width: 350px !important;
    }
    .image3 {
        height: 170px !important;
        width: 350px !important;
    }
   }

   @media only screen and (max-width:900px) {
    .header-list {
        display: none;
    }
    .head-btn {
        display: none;
    }
    .toggle-btn {
        display: block;
    }
   }
   @media only screen and (max-width:800px) {
    .main {
        flex-direction: column-reverse;
    }
    .left-section {
        width: 100% !important;
        padding: 0 !important;
     
    }
    .right-section {
        width: 100% !important;
    }
    .text {
        font-size: 1rem !important;
    }
   }
   @media only screen and (max-width:768px) {
    .section-main {
        flex-direction: column;
        width: 100% !important;
    }
    .elementor {
        width: 100% !important;
        padding: 1rem;
    }
    .footer-t {
        font-size: 2rem !important;
    }
    .features-main  {
        flex-direction: column;
    }
    .frame1 {
        width: 100% !important;
    }
    .featuress {
        margin: auto;
    }
    .rating-section {
        flex-direction: column;
    }
    .elementor {
        margin: auto;
    }
    .image1 {
        width: 280px !important;
        display: none;
    }
    .image2 {
        width: 270px !important;
        display: none;
    }
    .image3 {
        width: 280px !important;
        display: none;
    }
   }
   @media only screen and (max-width:600px) {
    .hero-text {
        font-size: 24px !important;
    }
    .image-hero {
        width: 150px;
    }
    .next {
        font-size: 2rem !important;
    }
    .press {
        font-size: 1.6rem !important;
    }
    .demoo-text {
        font-size: 1.4rem !important;
    }
    .content {
        width: 100% !important;
    }
    .first-main {
        flex-direction: column;
    }
    .lists {
        padding: 0rem 10px !important;
        font-size: 12px !important;
    }
    .image-hero {
        width: 150px !important;

    }
    .support {
        font-size: 18px !important;
    }
    .logo {
        width: 250px !important;

    }
    .hero-images {
        padding: 1rem !important;
    }
  
   }


   @media only screen and (max-width:400px) {
    .elementor-btn button {
        padding: 1rem !important;
    }
    .header {
        padding: 16px 20px;
    }
    .main {
        padding: 0 20px !important;
    }
    .text-last {
        font-size: 16px !important;
    }
    .small-text {
        font-size: 22px !important;
    }
    .list li {
        font-size: 1rem !important;
    }
    .features-main {
        padding: 0 20px !important;
        margin-bottom: 2rem;
    }
    .list {
        flex-direction: column;
    }

   }


  




